@mixin clearfix {
  content: '';
  display: block;
  clear: both;
}

@mixin container {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  z-index: 5;
}

@mixin boxShadow($h-offset, $v-offset, $blur, $spread, $color) {
  box-shadow: $h-offset $v-offset $blur $spread $color;
}
