@import '../../assets/scss/_mixins';
@import '../../assets/scss/_vars'; 

.activity {
  background: white;
  border: 0.1rem solid #eee;
  padding: 1.5rem;
  border-radius: 0.4rem;
  display: flex;
}

.activity__left {
  width: 7rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.activity__right {
  flex: 1;
}

.activity__owner {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 0.8rem;
}

.activity__userPicture {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background: #eee;
}

.activity__category {
  display: block;
  font-size: 1.2rem;
  opacity: 0.8;
}

.activity__date {
  display: block;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.activity__content {
  padding: 1.5rem 0;
}

.activity__description {
  font-weight: normal;
  font-size: 1.7rem;
  margin: 0;
}

.activity__description__btn--more--less {
  background: none;
  padding: 0 auto;
  border: none;
  font: inherit;
  color: $primary;
  cursor: pointer;
  outline: none;
}

.activity__footer {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.activity__footer::after {
  @include clearfix;
}

.activity__points {
  display: block;
  float: left;
  line-height: 1.4rem;
}

.activity__pointsCount {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.activity__status {
  display: block;
  float: right;
  line-height: 1.4rem;
  position: relative;
}

.activity__status::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.activity__status--inReview::before {
  background-color: #eee;
}

.activity__status--pending::before {
  background-color: #dc8905;
}

.activity__status--approved::before {
  background-color: #5eb623;
}

.activity__status--rejected::before {
  background-color: #b23030;
}
