@import '../../assets/scss/_mixins';
@import '../../assets/scss/_vars'; 

.activity {
  background: white;
  border: 0.1rem solid #eee;
  padding: 1.5rem;
  border-radius: 0.4rem;
  display: flex;
  flex-wrap: wrap;
}

.activity__left {
  width: 7rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.activity__right {
  flex: 1;

  &--editable {
    cursor: pointer;
  }
}

.activity__owner {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 0.8rem;
}

.activity__userPicture {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background: #eee;
}

.activity__header {
  display: flex;
}

.activity__category {
  display: block;
  font-size: 1.2rem;
  opacity: 0.8;
}

.activity__date {
  display: block;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.activity__checkbox {
  margin-left: auto;
}

.activity__checkbox:hover {
  cursor: pointer;
}

.activity__content {
  padding: 1.5rem 0;
}

.activity__description {
  font-weight: normal;
  font-size: 1.7rem;
  margin: 0;
}

.activity__description__btn--more--less {
  background: none;
  padding: 0 auto;
  border: none;
  font: inherit;
  color: $primary;
  cursor: pointer;
  outline: none;
}

.activity__footer {
  font-size: 1.2rem;
  margin-top: 1rem;
  width: 100%;
}

.activity__footer::after {
  @include clearfix;
}

.activity__points {
  display: block;
  float: left;
  line-height: 3rem;
}

.activity__pointsCount {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.activity__status {
  display: block;
  float: right;
  line-height: 3rem;
  position: relative;
}

.activity__status::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.activity__status--inReview::before {
  background-color: #eee;
}

.activity__status--pending::before {
  background-color: $orange;
}

.activity__status--approved::before {
  background-color: $approveButton;
}

.activity__status--rejected::before {
  background-color: $red;
}
.activity__status--completed::before{
  background-color: $primary;
}

.verifyButtons__button {
  display: block;
  width: 6rem;
  height: 3rem;
  float: right;
  position: relative;
  opacity: 0.9;
  padding: 0.3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;

  &--approve {
    background-color: $approveButton;
    color: $lightAccent;
  }

  &--reject {
    background-color: $rejectButton;
    color: $black;
    margin-right: 1rem;
  }

  &--moreInfo {
    background-color: $googleButtonBlue;
    color: $lightAccent;
    margin-right: 1rem;
  }

  &:before {
    content: '';
    vertical-align: middle;
    height: 1.2rem;
  }
}
