.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: white;
  box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.15);
}

.sidebarWrapper {
  width: 25rem;
  min-height: 100vh;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 200ms ease-in-out;
  position: fixed;
}

.sidebarWrapper--sidebarOpen {
  transform: translate(0%);
}

.mainPage {
  width: 100%;
  transform: translate(0);
  transition: transform 200ms ease-in-out;
}

.mainPage--sidebarOpen {
  transform: translate(25rem);
  width: calc(100% - 25rem);
}

.pageContent {
  @include container;
  min-height: 100vh;
}

.headerWrapper {
  position: relative;
  height: 6rem;
}

.headerWrapper--white {
  color: rgba(255, 255, 255, 0.85);
}

.headerWrapper::after {
  content: "";
  display: table;
  clear: both;
}

.leftHeader {
  float: left;
  height: 100%;
}

.leftHeader--whiteText {
  color: white;
}

.rightHeader {
  float: right;
  height: 100%;
}

.contentWrapper {
  padding-top: 6rem;
}

.contentWrapper--society {
  margin-top: 32rem;
}

.contentWrapper::after {
  content: "";
  display: table;
  clear: both;
}

.mainContent,
.sideContent {
  float: left;
  box-sizing: border-box;
}

.mainContent {
  width: 67%;
}

.sideContent {
  width: 33%;
  padding-left: 7.78%;
}

.sideContent--societyPage {
  margin-top: -35rem;
}

.coverPhotoWrapper::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.33));
}

button {
  outline: none;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $greyOverlay;
  z-index: 2;
  animation: opacitychange 2s ease-in;
}

@keyframes opacitychange{
  0%{
    opacity: 0;
  }

  100%{
    opacity: .2;
  }
}
