.parentfab {
  position: relative
}

.fab {
  width: 7rem;
  height: 7rem;
  background-color: #dc8905;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out;
  font-size: 5rem;
  color: white;
  text-align: center;
  line-height: 7.0rem;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.fab__icon {
  width: 40%;
  stroke: white;
  stroke-width: 3;
  stroke-linecap: round;
}
