.parentfab {
  position: relative
}

.fab {
  width: 7rem;
  height: 7rem;
  background-color: #dc8905;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in-out;
  font-size: 5rem;
  color: white;
  text-align: center;
  line-height: 7.0rem;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
}

.fab:hover {
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.35);;
  transform: scale(1.05);
  cursor: pointer;
}