.formField {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 0.2rem;
}

.formField__label {
  width:25%;
  padding-right: 3rem;
  text-align: right;
  margin-top: 2rem;
  align-self: flex-start;
}

.formField__control {
 flex: 1;
 height: 3.5rem;
 outline: none;
 margin-top: 2rem;
 font-size: inherit;
 border:0.1rem solid #eeeeee;
}

.formField__textField{
  height: 15rem;  
  flex: 1;
  resize:vertical;
  outline: none;
  margin-top: 2rem;
  font-size: inherit;
  border:0.1rem solid #eeeeee
}
.cancelButton{
  padding: 1.2rem 2rem;
  background-color: #fafafa;
  font-size: inherit;
  color: black;
  text-align: center;
  float: right;
  border: solid 0.05rem #e2e2e2;
  border-radius: 0.4rem;
  margin: 1rem;
}

.cancelButton:hover{
  cursor: pointer;
}

.submitButton{
  padding: 1.2rem 2.9rem;
  background-color: #dc8905;
  font-size: inherit;
  color: black;
  text-align: center;
  float: right;
  color: white;
  border: solid 0.05rem #e2e2e2;
  border-radius: 0.4rem;
  margin:1rem 0rem; 
}
.submitButton:hover{
  cursor: pointer;
}
.titleForm{
  font-size: 1.8rem
}