.card-user {
  width: 25em;
  height: 25em;
  background-color: $white;
  border-radius: 0.5em;
  @include boxShadow(0, 0, 2.5rem, 0.5rem, $boxShadowGrey);
}

.background-image {
  width: 95%;
  margin-top: 0.625em;
  margin-left: 0.625em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.content {
  bottom: 0;
  color: $black;
  width: 100%;
  padding: 1.25em;
}
