.notificationList__footer {
  padding-top: 1rem;
  border-top: 0.1rem solid #eee;
  margin: 0 2.4rem;
}

.notificationList__clearButton {
  font-size: 1.2rem;
  border: 0;
  background: none;
  width: 100%;
  text-align: left;
  padding-left: 0;
  cursor: pointer;
}

.notificationList__content {
  padding: 0 1.9rem 1.5rem;
  max-height: 24rem;
  overflow: auto;
}
