@import '../../assets/scss/_vars'; 

.profileDisplay {
  position: relative;
  padding: 0 2.4rem;
  color: $black;
}

.profileDisplay__name {
  display: block;
  font-size: 1.4rem;
}

.profileDisplay__society {
  font-size: 2.4rem;
}

.profileDisplay__footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 0.1rem solid #eee;
}

.profileDisplay__signOutButton {
  width: 100%;
  text-align: left;
  padding-left: 0;
  border: 0;
  background: none;
  font-size: 1.4rem;
  cursor: pointer;
}
