.redemption__location {
  color: #000000;
  float: left;
  line-height: 1.4rem;
<<<<<<< HEAD
  flex-basis: 60%;
=======
  margin-top: -0.65rem;
>>>>>>> 56e608032c56ef31018bc2db3e2c1b4a5efc99f5
}
.redemption__location > svg {
  width: 2.4rem;
  height: 2.4rem;
  vertical-align: middle;
  padding-right: 0.4rem;
  display: inline-block;
}

.redemption__amount {
  float: right;
}
