.hoverButtons{
  float: right;
  display: flex;
  outline: none
}

.hoverButtons__button_cancel{
  width:2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  margin: 0.5rem;
  background: #eeeeee;
  font-size: inherit;
  border: solid 0.5px #eeeeee;
  outline:none

}

.hoverButtons__button_accept{
  width:2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0.5rem;
  background: #5eb623;
  font-size: inherit;
  color: white;
  border: solid 0.5px #eeeeee;
  outline:none

}
