.societyButtons{
  border-radius: 0rem;
  font-size: inherit;
  border: none;
  background-image: linear-gradient(to top, #eeeded, #f5f5f5);
  cursor: pointer;
  display: flex;
  margin: 1.1rem;
}
.dropdown{
  flex:1;
}