.wrapper {
  display: flex;
  justify-content: space-around;
}

.main-content {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 90%;
}

.sub-content {
  flex-grow: 100;
  font-family: 'DIN Pro';
  padding-top: rem(25px);
}

.user-dashboard {
  margin-top: rem(27px);
}

.user-dashboard__name {
  padding-left: rem(6px); 
  margin-bottom: rem(12px); 
  @include text-styles(rem(27px), $lightAccent, 500, rem(0.56px), rem(27px));
}

.user-dashboard__level--container{
  padding-left: rem(6px); 
}

.user-dashboard__level {
  @include widthAndHeight(rem(23px), rem(23px));
  padding: rem(1px);
  margin: rem(15px) 0;
  @include text-styles( rem(14px), $andelaGold, 500, rem(0.48px), rem(18px));
  border: rem(1px) solid $andelaGold;
}

.success {
  align-items: center;
  border-radius: 25px;
  top: 10px;
  display: flex;
  min-height: 40px;
  max-height: 40px;
  justify-content: space-between;
  left: 45%;
  padding: 0 20px;
  position: fixed;
  transition: transform .35s ease;
  background-color: #16a085;
}

.profile-overview {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}


.profile-overview__image {
  @include widthAndHeight(rem(122px), rem(134px));
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/person-placeholder.jpg);
}

.user-dashboard__actions {
  display: flex;
  margin-top: rem(45px);
  padding-left: rem(15px);
  justify-content: space-between;

  .user-dashboard__title {
    @include text-styles(rem(16px), $lightAccent, normal, rem(0.33px), rem(21px));
  }

  span {
    text-align: center;
    @include text-styles(rem(14px), $lightAccent, 300, normal, rem(24px));
  }

  .fa {
    color: $lightAccent !important;
  }

  .fa-plus {
    padding-right: rem(22.5px); 
  }

  .fa-filter {
    padding-left: rem(8px);
  }

  .user-dashboard__button {
    border-radius: rem(2px);

    &:hover {
      transition: box-shadow 0.2s;
      box-shadow: rem(2px) rem(2px) rem(3px) rem(1px) $whiteShadow;
    }
  }

  .button__add {
    @include widthAndHeight(rem(143px), rem(32px));
    background-color: $andelaGold;
    border: none;
  }

  .button__filter {
    @include widthAndHeight(rem(78px), rem(32px));
    margin-left: rem(26px);
    background-color: transparent;
  }
}

// Large devices (desktops/mac, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { }


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

  .user-dashboard {
    margin-top: 0.5rem;
  }

  .user-dashboard__level { 
    margin-top: 0;
  }

  .profile-overview {
    flex-direction: column;
  }

  .profile-overview__image {
    display: none;
  }

  .user-dashboard__actions {
    margin-top: rem(14px);
  }
}

// small devices
@media (max-width: 767px) {
  .user-dashboard {
    margin-top: 0.5rem;
  }

  .user-dashboard__name {
    font-size: rem(20px);
    line-height: rem(20px);
  }

  .user-dashboard__level { 
    margin-top: 0;
  }

  .profile-overview {
    flex-direction: column;
  }

  .profile-overview__image {
    display: none;
  }
  
  .user-dashboard__actions {
    margin-top: 0;
    flex-direction: column;
  }
 }
