.sidebar {
  font-family: 'DIN Pro';
  display: flex;
  flex-direction: column;
  align-items: center;
  @include widthAndHeight(rem(142px), 100vh);
  margin-right: rem(40px);
  padding-top: rem(28px);
  padding-bottom: rem(184px);

  .close-btn {
    display: none;
  }
}

.sidebar__header {

  .logo__text {
    font-size: rem(16px);
    color: $lightAccent;
  }
}

.sidebar_nav {
  margin-top: rem(80px);
  flex: 2;
}

.sidebar_nav-item {
  display: flex;
  padding: rem(10px) 0 rem(10px) rem(16px);
  @include widthAndHeight(rem(136px), rem(37px));
  margin-bottom: rem(12.94px);
  text-decoration: none !important;
  
  &:hover {
    border-left: rem(4px) solid $lightAccent;
  }
}

.sidebar_nav-icon {
  @include widthAndHeight(rem(18px), rem(18px));
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  @include widthAndHeight(rem(24.51px), rem(14.45px));

  &.dashboard {
    background-image: url(../../../images/dashboard.svg);
  }

  &.istelle {
    @include border;
    background-image: url(../../../images/societyLogos/istelle.svg);
  }
  
  &.invictus {
    @include border;
    background-image: url(../../../images/societyLogos/invictus.svg);
  }

  &.sparks {
    @include border;
    background-image: url(../../../images/societyLogos/sparks.svg);
  }

  &.phoenix {
    @include border;
    background-image: url(../../../images/societyLogos/phoenix.svg);
  }
}

.sidebar_nav-label {
  @include text-styles(rem(14px), $lightAccent, normal, 0, rem(14px));
  text-align: center;
  padding-left: rem(10px);

  &.sidebar_nav-label--footer {
    color: $footerTextGray;
  }
}

.sidebar__separator--top {
  box-sizing: border-box;
  @include widthAndHeight(rem(127.78px), rem(0.81px));
  background-color: $separatorBlue;
}

.sidebar__footer {
  color: $footerTextGray;
  position: absolute;
  bottom: rem(30px);

  .sidebar_nav-item {
    cursor: pointer;
    &:hover {
      border-left: 0;
    }
  }
}

.fa-cog {
  font-size: 1.125rem!important;
}

.sidebar__separator--footer {
  @include widthAndHeight(rem(127.78px), rem(0.81px));
  box-sizing: border-box;
  margin-top: rem(14px);
  margin-bottom: rem(14px);
  border: rem(1.08px) solid #E9E9EE;
}

.sidebar__footer__text {
  cursor: pointer;
  font-size: rem(12px);
  line-height: rem(12px);
  margin-left: rem(24px);
  margin-bottom: rem(12px);
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    flex-direction: column!important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Small devices
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
  
  .sidebar_nav {
    margin-top: rem(40px);
    flex: 0;
  }
 }