.table {
  background-color: transparent;
  box-sizing: border-box;
  font-family: 'DIN Pro';
  border-collapse: separate !important;
  border-spacing: 0 rem(4px); 
}

.table__row--head {
  background-color: $lightAccent;
  height: rem(56px);
  box-shadow: 0 rem(7px) rem(36px) 0 $grayShadow;
}

.table__head {
  font-size: rem(14.56px);
  margin: auto 0;
  letter-spacing: rem(0.2px);
  line-height: rem(14px);
  vertical-align: middle !important;
  border-bottom: none !important;

  &:first-child {
    padding-left: rem(30px);
  }
}