.login--wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.login {
  margin: auto;
  display: flex;
  padding: 0;
  font-family: "DIN Pro";
  width: 1108px;
  height: 650px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 80px -10px rgba(0,0,0,0.08);
}

.login__pane__title {
  display: flex;
  align-items: center;
}

.login__pane__title--text {
  padding-left: 11px;
}

.login__pane--left {
  display: flex;
  padding: 36px 0 32px 65px;
  flex-direction: column;
  justify-content: space-between;
}

.login__pane--right {
  width: 553px;
}


.login__pane__title--image {
  height: 31px;
  width: 31px;
  background-size: cover;
  background-image: url(./../../images/logo_white_bck.png);
}

.login__pane__title--text {
  font-size: 24px;
  color: #323C5A;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.5px;
}


.login__pane__description--title {
  opacity: 0.84;
  color: #000000;
  font-size: 16px;
  line-height: 36px;
}

.login__pane_description--content {
  color: #9B9B9B;
  font-size: 22px;
  font-weight: normal;
  line-height: 31px;
}

.login__pane_description--button {
  width: 300px;
  height: 52px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  text-decoration: none;
  border-radius: 0.2rem;
  box-sizing: border-box;
  border: 1px solid $googleButtonBlue;
  background-color: $googleButtonBlue;
}

.login__button_text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 52px;
  color: $lightAccent;
}

.login__logo {
  width: 4rem;
  height: 100%;
  box-sizing: border-box;
  background: $lightAccent url(../../images/googleFavicon.png) center/3rem no-repeat;
}

.login__pane__footer {
  text-align: left;
  color: #9B9B9B;
  font-size: 16px;
}