$lightAccent: #fff;
$googleButtonBlue: #3E59E0;
$lightGray: #9B9B9B;
$primaryBlue: #122EB8;
$orange: #F5A623;
$darkGray: #666666;
$checkmarkBlue: #3A84FF;
$checkmarkGreen: #7ED321;
$separatorBlue: #5DA5F3;
$footerTextGray: #ACACBF;
