$lightAccent: #fff;
$googleButtonBlue: #3E59E0;
$lightGray: #9B9B9B;
$andelaBlue: #3359DF;
$andelaGold: #FFAF30;
$darkGray: #666666;
$checkmarkBlue: #3A84FF;
$checkmarkGreen: #7ED321;
$separatorBlue: #5DA5F3;
$footerTextGray: #ACACBF;
$darkBlue: #101444;
$darkerBlue: #000564;
$whiteShadow: rgba(255, 255, 255, 0.5);
$darkShadow: rgba(0,0,0,0.08);
$grayShadow: rgba(48,48,48,0.13);
$tableBodyTextColor: #51516B;
