.actions { 
  display: flex;

  button:hover {
    transition: box-shadow 0.2s;
    box-shadow: rem(2px) rem(2px) rem(3px) rem(1px) $grayShadow;
  }
}

.action--approve {
  @include widthAndHeight(rem(29px), rem(29px));
  border: rem(2px) solid $approvedStatusGreen;
  border-radius: 50%;
  text-align: center;
  
  .checkmark {
    @include checkmark;
    @include widthAndHeight(rem(8px), rem(15px));
    border-bottom-color: $approvedStatusGreen;
    border-right-color: $approvedStatusGreen;
  }
}

.action--reject {
  @include widthAndHeight(rem(29px), rem(29px));
  border: rem(2px) solid $rejectedStatusRed;
  border-radius: 50%;
  margin-right: rem(41px);
  text-align: center;

   .cross {
    color: $rejectedStatusRed;
    font-size: rem(22px);
    font-weight: bold;
    height: 100%;
   }
}
