.sidebar {
  width: 25rem;
  min-height: 100vh;
  background: #3359df;
  color: #fff;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.sidebar__header {
  height: 6rem;
  padding: 0 1rem;
}

.sidebar__logoWrapper, 
.sidebar__appName {
  display: inline-block;
  vertical-align: middle;
  line-height: 6rem;
}

.sidebar__logoWrapper {
  width: 3.8rem;
  height: 3.8rem;
  margin-right: 1rem;  
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebar__appName {
  font-size: 1.6rem;
}

.sidebar__nav {
  padding-top: 2rem;
}

.sidebar__navGroup + .sidebar__navGroup {
  margin-top: 2.5rem;
}

.sidebar__navItem {
  display: block;
  text-decoration: none;
  color: #e2e8ff;
  height: 4rem;
  font-size: 1.3rem;
  padding: 0 1rem;
}

.sidebar__navItem--active,
.sidebar__navItem:hover {
  color: white;
  background: rgba(0, 0, 0, 0.05);
}

.sidebar__navIcon, 
.sidebar__navLabel {
  line-height: 4rem;
  vertical-align: middle;
}


.sidebar__navIcon {
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
  margin-right: 1.2rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar__navIcon > svg {
  width: 100%;
  fill: white;
}

.sidebar__navGroupHeader {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1.4em;
  padding: 0 1rem;
}
