.login--wrapper {
  @include widthAndHeight(100vw, 100vh);
  display: flex;
}

.login {
  margin: auto;
  display: flex;
  padding: 0;
  font-family: "DIN Pro";
  @include widthAndHeight(rem(1108px), rem(650px));
  background-color: $lightAccent;
  box-shadow: 0 rem(25px) rem(80px) rem(-10px) $darkShadow;
}

.login__pane--left {
  display: flex;
  padding: rem(36px) 0 rem(32px) rem(65px);
  flex-direction: column;
  justify-content: space-between;
}

.login__pane--right {
  background-position: center;
  background-image: url(../../../images/login-societies.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login__pane__description--title {
  opacity: 0.84;
  font-size: rem(16px);
  line-height: rem(36px);
}

.login__pane_description--content {
  color: $lightGray;
  font-size: rem(22px);
  font-weight: normal;
  line-height: rem(31px);
}

.login__pane_description--button {
  @include widthAndHeight(rem(300px), rem(52px));
  display: flex;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  text-decoration: none;
  border-radius: 0.2rem;
  box-sizing: border-box;
  border: rem(1px) solid $googleButtonBlue;
  background-color: $googleButtonBlue;
  &:focus {
    outline: none!important;
  }
}

.login__button_text {
  margin: 0 auto;
  font-size: rem(16px);
  line-height: rem(52px);
  color: $lightAccent;
}

.login__logo {
  @include widthAndHeight(4rem, 100%);
  box-sizing: border-box;
  background: $lightAccent url(../../../images/googleFavicon.png) center/3rem no-repeat;
}

.login__pane__footer {
  text-align: left;
  color: $lightGray;
  font-size: rem(16px);
}
// Small devices
@media (max-width: 767px) { 
  .login__pane--left {
    padding: rem(20px);
    text-align: center;
    align-items: center;
  }

  .login__pane--right {
    display: none;
  }

  .login__pane_description--content {
    font-size: rem(20px);
  }

  .login__pane_description--button { 
    margin: auto;
  }  
 }
